{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <h2>Login</h2>
    <form method="POST" action="{{ url_for('main.login') }}">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username_or_email.label }}<br>
            {{ form.username_or_email(size=32) }}<br>
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <p>New user? <a href="{{ url_for('main.register') }}">Register here</a>.</p>
{% endblock %}